@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>@Model.Value("seitentitel", fallback: Fallback.ToDefaultValue, defaultValue: Model.Name)</title>
</head>
<body>

<header>
    <h1>@Model.Name</h1>
</header>

<main>
    @RenderBody()
</main>

</body>
</html>
